@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Курсова робота</h1>
    <h2>Бондарчука Олександра Андрійовича</h2>
    <div>
        <p>Предметна область</p>
        <p>
            У студентську бібліотеку звертаються студенти, що бажають отримати учбову
            літературу. При оформленні заявки на літературу необхідно отримати бланк замовлення, в
            якому треба вказати точну назву книги, авторів і рік видання; бланк замовлення можна
            отримати у бібліотекаря відповідного відділу.
            Якщо якісь реквізити книги невідомі, то студент прямує в каталог бібліотеки для
            заповнення бланка. Заповнений бланк віддається бібліотекарю, де відбувається перевірка
            студента. Якщо на студентові числиться більше 10 книг, то в отриманні нової книги йому
            відмовляють.
            Подані заявки передаються в сховище бібліотеки, де по кожній заявці працівник
            сховища або знаходить книгу, або вказує на бланку замовлення її відсутність. Після цього
            всі розглянуті замовлення передаються назад бібліотекарю, який видає замовлення
            студентам.
        </p>
    </div>
</div>
